<footer>
	<div class="container pt-3">
		<div class="row">
			<div class="col-12 col-sm-7 col-md-5 col-lg-4 pl-lg-5">
				<h4>Contact Nicoleta</h4>
				<ul>
					<li>
						<a href="#"><i class="far fa-envelope"></i> nicoleta.damian.alexandru@gmai.com</a>
					</li>
					<li>
						<p><i class="fas fa-mobile-alt"></i> +(373)69 787 929</p>
					</li>
				</ul>
			</div>
			<div class="col-12 col-sm-5 col-lg-2 px-lg-0">
				<h4>Contact Igor</h4>
				<ul>
					<li>
						<a href="#"><i class="far fa-envelope"></i> igor.ciurea@gmail.com</a>
					</li>
					<li>
						<p><i class="fas fa-mobile-alt"></i> +(373)69 531 061</p>
					</li>
				</ul>
			</div>
			<div class="col-12 col-sm-5 col-lg-3 pl-lg-5">
				<h4>Contact PROBONO</h4>
				<ul>
					<li>
						<a href="http://probono.com/" target="_blank"><i class="fab fa-chrome"></i> probono.md</a>
					</li>
					<li>
						<a href="https://www.facebook.com/cirProBono/" target="_blank"><i class="fab fa-facebook"></i> facebook.com/cirProBono</a>
					</li>
				</ul>
			</div>
			<div class="col-12 col-sm-4 col-lg-2 pt-3 pt-sm-0">
				<h4>Our Address</h4>
				<p>Strada Păcii 11, Tohatin, Chisinau, Moldova</p>
			</div>
			<div class="col-12 col-sm-3 col-lg-1 px-lg-0">
				<h4>Media</h4>
				<div>
					<a href="https://www.facebook.com/tohateenhub/" target="_blank"><img class="media_icon" src="/img/icons/facebook.png" alt="facebook"></a>
					<a href="https://www.instagram.com/tohateenhub/" target="_blank"><img class="media_icon" src="/img/icons/instagram.png" alt="facebook"></a>
				</div>
			</div>
			<div class="d-flex justify-content-center col-12 col-lg-4 offset-lg-4 pt-3">
					<p class="align-self-end">&#169 2018-2019 <a href="/admin/">Tohateenhub</a>. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>