<style>
    .bg-nav {
        background-color: rgba(255, 255, 255, 0.5) !important;
        transition: background-color 0.5s;
        font-size: 1.1em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        font-weight: 400 !important;
    }

    .bg-nav.scrolled {
        background: var(--color4) !important;
        color: var(--color2);
    }

    .bg-nav a,
    .bg-nav i {
        color: var(--color2);
    }

    .bg-nav.scrolled a,
    .bg-nav.scrolled i {
        transition: all 0.5s;
        color: var(--color1);
    }

    .dropdown-menu {
        transition: all 0.5s;
    }

    .bg-nav .dropdown-menu {
        background-color: var(--color3);

    }

    .bg-nav.scrolled .dropdown-menu {
        background-color: var(--color5) !important;
    }

    .bg-nav.scrolled .dropdown-menu .dropdown-item:hover {
        background: var(--color3) !important;
    }

    .nav-list-collapse {
        transition: padding-left 0.5s;
        border-bottom: none;
    }

    .bg-nav.scrolled .nav-list-collapse {
        padding-left: 1em;
    }

    @media (min-width: 992px) {
        .bg-nav.scrolled .navbar-collapse {

            background: transparent !important;
        }

        .bg-nav .navbar-collapse {

            background: transparent !important;
        }
    }

    @media only screen and (min-width: 768px) {
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    }
</style>

<nav class="navbar fixed-top navbar-expand-md bg-nav z-depth-0" style="height:auto">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/svg/tohateen-text-logo.svg" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            style="padding-top:16px;padding-bottom:16px;">
            <!--span class="navbar-toggler-icon"></span-->
            <i class="fas fa-bars"></i>

        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-list-collapse">
                    <a class="nav-link" href="#logoDiv">{{lang "About us" res}}</a>
                </li>
                <li class="nav-item nav-list-collapse">
                    <a class="nav-link" href="#newsDiv">{{lang "News" res}}</a>
                </li>
                <li class="nav-item nav-list-collapse">
                    <a class="nav-link" href="#contactsPartial">{{lang "Events" res}}</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="languageMenu" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fas fa-language"></i>{{localization}}
                    </a>
                    <div class="dropdown-menu animated fadeIn faster" aria-labelledby="languageMenu">
                        <a class="dropdown-item" href="/setLang/en">English</a>
                        <a class="dropdown-item" href="/setLang/ro">Română</a>
                        <a class="dropdown-item" href="/setLang/ru">Русский</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    $(window).scroll(() => {
        $('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
        $('nav').toggleClass('z-depth-2', $(this).scrollTop() > 50)
    });
</script>

<a href="/admin/" style="position:fixed;bottom:0;right:0;"><i class="fas fa-user-tie"></i></a>