<style>
    .navbar {
        background-color: #FCFCFC;
    }

    .navbar-brand img {
        height: 20px;
    }

    .nav-link {
        color: #575757;
        font-weight: 600;
        transition: 0.3s;
    }

    .nav-link:hover {
        color: black;
        transition: 0.3s;
    }

    .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background-color: black;
        transition: 0, 4s;
    }

    .nav-link:hover::after {
        width: 100%;
        transition: 0.4s;
    }

    /* Scrolled Navbar styles */
    .navbar.scrolled{
    }
    .navbar.scrolled .nav-link{
        margin-right: 15px;
    }


</style>

<!--nav class="navbar navbar-expand-md bg-nav z-depth-0" style="height:auto">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/svg/tohateen-text-logo.svg" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            style="padding-top:16px;padding-bottom:16px;">
            <!span class="navbar-toggler-icon"></span>
            <i class="fas fa-bars"></i>

        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-list-collapse">
                    <a class="nav-link" href="#logoDiv">{{lang "About us" res}}</a>
                </li>
                <li class="nav-item nav-list-collapse">
                    <a class="nav-link" href="#newsDiv">{{lang "News" res}}</a>
                </li>
                <li class="nav-item nav-list-collapse">
                    <a class="nav-link" href="#contactsPartial">{{lang "Events" res}}</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="languageMenu" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fas fa-language"></i><span>{{localization}}</span>
                    </a>
                    <div class="dropdown-menu bg-white animated fadeIn faster" aria-labelledby="languageMenu">
                        <a class="dropdown-item" href="/setLang/en">English</a>
                        <a class="dropdown-item" href="/setLang/ro">Română</a>
                        <a class="dropdown-item" href="/setLang/ru">Русский</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav-->

<nav class="navbar navbar-expand-md fixed-top shadow-sm">
    <!--a class="navbar-brand ml-3" href="#"><img src="/img/logo.png" alt=""></a-->
    <a class="navbar-brand ml-3 my-2" href="/">
        <img src="/img/svg/tohateen-text-logo.svg">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Donate</a>
            </li>
            <li class="nav-item mr-md-4 ml-md-5">
                <div class="dropdown">
                    <a id="lang_select" data-toggle="dropdown"
                        style="cursor:pointer; color:#575757; line-height:31px">Language:
                        <img src="/img/icons/ro.png" alt="ro">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lang_select"
                        style="min-width: 50px;">
                        <a class="dropdown-item" href="#"><img src="/img/icons/ro.png" alt="ro"> Romana</a>
                        <a class="dropdown-item" href="#"><img src="/img/icons/en.png" alt="en"> English</a>
                        <a class="dropdown-item" href="#"><img src="/img/icons/ru.png" alt="ru"> Русский</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script>
    $(window).scroll(() => {
        $('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
        $('nav').toggleClass('z-depth-2', $(this).scrollTop() > 50);
    });
</script>

<a href="/admin/" style="position:fixed;bottom:0;right:0;"><i class="fas fa-user-tie"></i></a>