<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TohaTEEN</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="/css/global.css" rel="stylesheet">
    <!-- Preloader css -->
    <link href="/css/preloader.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body class="preloader-site">
    <div class="preloader-wrapper">
        <div class="preloader">
            <img src="/img/icons/preloader.gif" alt="NILA">
        </div>
    </div>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- Parallax effect -->
    <script src="/js/parallax.min.js"></script>
    <!-- Preloader script>
    <script src="/js/preloader.js"></script-->
    <!--Dima JS File-- >
    <script src="/js/main.js"></script>
    <!--Document Start-->

    {{> _navbar}}

    {{{body}}}

    {{> _footer}}



    <script>
        $(window).on("load", () => {
            $('.preloader-wrapper').fadeOut();
            $('body').removeClass('preloader-site');
        });

        if (typeof lockedNavbar == 'undefined') {
            $(window).on("scroll", () => {
                if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
                    $("#scrolledNavbar").toggleClass("scrolled-nav", true);
                } else {
                    $("#scrolledNavbar").toggleClass("scrolled-nav", false);
                }
            })
            $("#scrolledNavbar").toggleClass("scrolled-nav", (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40));
        }
    </script>

    <!-- /Document End-->



</body>

</html>