<link href="/css/about_us.css" rel="stylesheet">
<main style="margin-top:94px;min-height:84vh;">
	<div class="container">
		<div class="d-flex">
			<h1 class="top-header">about us</h1>
		</div>

		<div class="row about py-5">
			<div class="col-md-4 text-center">
				<h2>Who we are</h2>
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation.</h4>
			</div>
			<div class="col-md-4 text-center">
				<h2>What we do</h2>
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt uad minim veniam,
					quis nostrud exercitation.</h4>
			</div>
			<div class="col-md-4 text-center">
				<h2>Our goals</h2>
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exetion.</h4>
			</div>

		</div>

		<h2 class="text-center mt-4">Our team</h2>
		<div class="row team mb-5 mt-3 mx-5">
			<div class="col-6 col-sm-3 member-img mb-3 mb-lg-0">
				<img src="/img/admin.jpg">
			</div>
			<div class="col-6 col-sm-3 member-info text-center align-self-center">
				<h3>Aici Postura</h3>
				<h2>Nicoleta Damian</h2>
				<h4>Aici ceva descriere foarte scurta despre persoana data lorem ipsum dolor sit amet, consectetur adipisicing
					elit, sed do eiusmod tempor incididunt ut.</h4>
				<ul class="list-unstyled mb-0">
					<a class="p-2 fa-lg fb-ic">
						<i class="fab fa-facebook-f blue-text"> </i>
					</a>
					<a class="p-2 fa-lg ins-ic">
						<i class="fab fa-instagram blue-text"> </i>
					</a>
				</ul>
			</div>
			<div class="col-6 col-sm-3 member-img mb-3 mb-lg-0">
				<img src="/img/admin2.jpg">
			</div>
			<div class="col-6 col-sm-3 member-info text-center align-self-center">
				<h3>Aici Postura</h3>
				<h2>Igor Ciurea</h2>
				<h4>Aici ceva descriere foarte scurta despre persoana data lorem ipsum dolor sit amet, consectetur adipisicing
					elit, sed do eiusmod tempor incididunt ut.</h4>
				<ul class="list-unstyled mb-0">
					<a class="p-2 fa-lg fb-ic">
						<i class="fab fa-facebook-f blue-text"> </i>
					</a>
					<a class="p-2 fa-lg ins-ic">
						<i class="fab fa-instagram blue-text"> </i>
					</a>
				</ul>
			</div>
		</div>


	</div>
</main>

<script>
    var lockedNavbar = 1;

    $(".navbar").css("transition", "none");
    $("#scrolledNavbar").toggleClass("scrolled-nav", true);
</script>