<link href="/css/courses.css" rel="stylesheet">
<div class="container">
	<div class="d-flex">
		<h1 class="top-header">courses</h1>
	</div>
	<div class="row my-4">
		<div class="col-lg-4">
			<figure>
				<img src="/img/robotics.jpg">
			</figure>
		</div>
		<div class="col-lg-8 text-left my-auto">
			<div class="header">
				<a href="#">robotics courses</a>
			</div>
			<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id.
			</div>
			<a class="learnmore" href="#">learn more</a>
		</div>
	</div>
	<div class="row my-4">
		<div class="col-lg-4 order-lg-12">
			<figure>
				<img src="/img/chess.jpg">
			</figure>
		</div>
		<div class="col-lg-8 text-lg-right my-auto">
			<div class="header">
				<a href="#">chess courses</a>
			</div>
			<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id.
			</div>
			<a class="learnmore" href="#">learn more</a>
		</div>
	</div>
	<div class="row my-4">
		<div class="col-lg-4">
			<figure>
				<img src="/img/origami.jpg">
			</figure>
		</div>
		<div class="col-lg-8 text-left my-auto">
			<div class="header">
				<a href="#">origami courses</a>
			</div>
			<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id.
			</div>
			<a class="learnmore" href="#">learn more</a>
		</div>
	</div>
</div>

<script>
	var lockedNavbar = 1;

	$(".navbar").css("transition", "none");
	$("#scrolledNavbar").toggleClass("scrolled-nav", true);
</script>