figure {
  position: relative;
  background-color: black;
}
figure>img {
  width: 100%;
  height: auto;
  opacity: .8;
}

.description {
  color: #4A4A4A;
  font-size: 15px;
  margin-bottom: 10px;
}

.learnmore {
  color: #4A4A4A;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 15px;
  border: 2px solid #4495E1;
  transition: .3s all;
}
.learnmore:hover {
  color: white;
  background-color : #4495E1;
}
