body{
    font-size: 1rem;
    font-weight: 100;
}

.bg-proj {
    height: 45vh;
    transition: all 0.3s;
}

.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
}

.bg-wrapper {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.jumbotron {
    box-shadow: none;
    padding-top: 25px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.bg-thumb {
    height: 25vmin;
    border-radius: 2%;
}

.ql-editor {
    padding: 0;
}

#projectDescContainer {
    min-height: 60vh;
}

.proj-title {
    font-size: 3.2vmax;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    margin-bottom: 0;
    transition: background-color 0.2s;
    top: 26vh;
    color: white;
}

.proj-title.fixedS {
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: none;
}

@media screen and (max-width: 768px) {
    .bg-proj {
        margin-top: 50px;
    }
    .jumbotron {
        padding-top: 20px;
    }
}

@media screen and (max-width: 576px) {
    #projectDescContainer {
        padding: 0;
    }
    .proj-title {
        font-size: 7.5vmin;
    }
    body{
        font-size: 1rem;
    }
}

.bg-nav {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.lead {
    font-size: 1em;
}