:root {
    --color1: rgba(5, 25, 35, 1);
    --color2: rgba(0, 53, 84, 1);
    --color3: rgba(47, 179, 230, 1);
    --color4: rgba(222, 229, 229, 1);
    --color5: rgba(230, 250, 252, 1);
}

html, body {
    scroll-behavior: smooth;
	padding: 0;
}

.text-difference {
    mix-blend-mode: difference;
}

.resp-text-p {
    font-size: 4vmin;
    line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em)/(35 - 21)));
}

@media screen and (min-width: 1200px) {
    .resp-text-p {
        font-size: 36px;
    }
}