/*----------------------- Preloader -----------------------*/

body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

@media only screen and (max-width: 576px) {
    .preloader-wrapper .preloader img {
        width: 40px;
        height: 40px;
    }
}

.preloader-wrapper .preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*width: 80px;*/
}